@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", sans-serif;
}

header .first_header {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  box-sizing: border-box;
  padding: 16px 0;
}
header .first_header .logo {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header .first_header .logo img {
  width: 40%;
  margin: 0 auto;
}
header .first_header .cart {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
}
header .first_header .cart a {
  color: #000;
}
header .first_header .hamburger_box .hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  left: 13px;
  top: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
}
header .first_header .hamburger_box .hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 16px;
  background: #555;
  transition: 0.3s ease-in-out;
}
header .first_header .hamburger_box .hamburger span:nth-child(1) {
  top: 10px;
}
header .first_header .hamburger_box .hamburger span:nth-child(2) {
  top: 20px;
}
header .first_header .hamburger_box .hamburger span:nth-child(3) {
  top: 30px;
}
header .first_header .hamburger_box .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
header .first_header .hamburger_box .hamburger.active span:nth-child(2) {
  width: 0px;
}
header .first_header .hamburger_box .hamburger.active span:nth-child(1), header .first_header .hamburger_box .hamburger.active span:nth-child(3) {
  transition-delay: 0.3s;
}
header .first_header .hamburger_box .hamburger.active span:nth-child(1) {
  transform: translateY(4px);
}
header .first_header .hamburger_box .hamburger.active span:nth-child(3) {
  transform: translateY(-16px) rotate(90deg);
}
header .first_header .hamburger_box nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.9s;
  width: 100%;
}
header .first_header .hamburger_box nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
header .first_header .hamburger_box nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
header .first_header .hamburger_box nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
header .first_header .hamburger_box nav.globalMenuSp ul li:hover {
  background: #ddd;
}
header .first_header .hamburger_box nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}
header .first_header .hamburger_box nav.globalMenuSp.active {
  transform: translateX(0%);
}

body {
  font: 14px/2 "Open sans", sans-serif;
  letter-spacing: 0.05em;
}
body .second_header {
  position: relative;
  top: 64px;
  background: #000;
  color: #fff;
  font-size: 16px;
}
body .second_header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .second_header ul li {
  list-style: none;
  padding: 16px;
}
body main .slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
body main .slideshow .btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
body main .slideshow .btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
body main .slideshow .btn::after {
  transition: border 0.1s linear 0.05s;
}
body main .slideshow .btn .btn-inner {
  position: relative;
  z-index: 2;
}
body main .slideshow .btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
body main .slideshow .btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
body main .slideshow .btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}
body main .slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main .slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body main .slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .slideshow .slide.is-active {
  display: block;
}
body main .slideshow .slide.is-loaded {
  opacity: 1;
}
body main .slideshow .slide .caption {
  padding: 0 100px;
}
body main .slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
body main .slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
body main .slideshow .slide .image {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
body main .slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
body main .slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
body main .slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
body main .slideshow .slide .btn::before {
  background: #fff;
}
body main .slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
body main .slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
body main .slideshow .pagination .item + .page {
  margin-left: -2px;
}
body main .slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
body main .slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
body main .slideshow .pagination .item:hover::before, body main .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
body main .slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
body main .slideshow .arrows .prev {
  left: 30px;
}
body main .slideshow .arrows .prev:hover .svg {
  left: -10px;
}
body main .slideshow .arrows .next {
  right: 30px;
}
body main .slideshow .arrows .next:hover .svg {
  left: 10px;
}
body main .slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}
body main .information {
  margin: 56px 0;
}
body main .information .infoItem {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid blue;
  color: #4473a5;
  background: #cfe1fb;
}
body main .information .infoItem .date {
  font-size: 12px;
}
body main .information .infoItem .text {
  font-size: 14px;
}

@media (max-width: 650px) {
  .hidden {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */