@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", sans-serif;
}

header .first_header {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 16px 0;
}
header .first_header .logo {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header .first_header .logo img {
  width: 160px;
  margin: 0 auto;
}
header .first_header .cart {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 32px;
}
header .first_header .cart a {
  color: #000;
}
header .first_header .hamburger_box .hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  left: 13px;
  top: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
}
header .first_header .hamburger_box .hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 16px;
  background: #555;
  transition: 0.3s ease-in-out;
}
header .first_header .hamburger_box .hamburger span:nth-child(1) {
  top: 10px;
}
header .first_header .hamburger_box .hamburger span:nth-child(2) {
  top: 20px;
}
header .first_header .hamburger_box .hamburger span:nth-child(3) {
  top: 30px;
}
header .first_header .hamburger_box .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
header .first_header .hamburger_box .hamburger.active span:nth-child(2) {
  width: 0px;
}
header .first_header .hamburger_box .hamburger.active span:nth-child(1), header .first_header .hamburger_box .hamburger.active span:nth-child(3) {
  transition-delay: 0.3s;
}
header .first_header .hamburger_box .hamburger.active span:nth-child(1) {
  transform: translateY(4px);
}
header .first_header .hamburger_box .hamburger.active span:nth-child(3) {
  transform: translateY(-16px) rotate(90deg);
}
header .first_header .hamburger_box nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.9s;
  width: 100%;
}
header .first_header .hamburger_box nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
header .first_header .hamburger_box nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
header .first_header .hamburger_box nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
header .first_header .hamburger_box nav.globalMenuSp ul li:hover {
  background: #ddd;
}
header .first_header .hamburger_box nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}
header .first_header .hamburger_box nav.globalMenuSp.active {
  transform: translateX(0%);
}

body {
  position: relative;
  top: 70px;
}
body main .slideShow .wrapper {
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 600px;
}
body main .slideShow .wrapper .next,
body main .slideShow .wrapper .prev {
  width: 40px;
  height: 48px;
  position: absolute;
  bottom: 50%;
  transition: all 0.3s;
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}
body main .slideShow .wrapper .next i,
body main .slideShow .wrapper .prev i {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  color: #fff;
}
body main .slideShow .wrapper .next i:hover,
body main .slideShow .wrapper .prev i:hover {
  transition: all 0.4s;
  background-color: black;
}
body main .slideShow .wrapper .next {
  right: 8px;
}
body main .slideShow .wrapper .prev {
  left: 8px;
}
body main .slideShow .wrapper .slider {
  width: 400vw;
  display: flex;
  margin: 0 auto;
}
body main .slideShow .wrapper .slider1 {
  transition: transform 1s;
}
body main .slideShow .wrapper .slider2 {
  transition: transform 1s;
}
body main .slideShow .wrapper .slider3 {
  transition: transform 1s;
}
body main .slideShow .wrapper .slider4 {
  transition: transform 1s;
}
body main .slideShow .wrapper .slider1 {
  transform: translateX(0);
}
body main .slideShow .wrapper .slider2 {
  transform: translateX(-100vw);
}
body main .slideShow .wrapper .slider3 {
  transform: translateX(-200vw);
}
body main .slideShow .wrapper .slider4 {
  transform: translateX(-300vw);
}
body main .slideShow .wrapper .content {
  width: 100%;
  max-width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .slideShow .wrapper .content img {
  width: 100vw;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
body main .slideShow .wrapper .indicator {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
body main .slideShow .wrapper .indicator li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  list-style: none;
  border: 1px #000 solid;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
body main .slideShow .wrapper #list1 {
  background-color: #000;
}
body main .search .search_header {
  position: relative;
  background: #000;
  color: #fff;
  font-size: 16px;
}
body main .search .search_header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .search .search_header ul li {
  list-style: none;
  padding: 16px 24px;
}
body main .search .search_bar {
  text-align: center;
  margin-top: 48px;
}
body main .search .search_bar .search_container {
  box-sizing: border-box;
}
body main .search .search_bar .search_container input,
body main .search .search_bar .search_container button {
  border: 2px solid #7fbfff;
  outline: 0;
  font-size: 16px;
  padding: 12px 24px;
}
body main .search .search_bar .search_container input {
  width: 50%;
  background: #eee;
  border-right: none;
  border-radius: 32px 0 0 32px;
}
body main .search .search_bar .search_container button {
  cursor: pointer;
  font-family: FontAwesome;
  border-left: none;
  border-radius: 0 32px 32px 0;
  color: #969696;
  margin-left: -6px;
  background: rgba(127, 191, 255, 0.5);
}
body main .search .search_bar .search_container button:hover {
  color: #fff;
  background: #3879D9;
  transition: all 0.3s;
}
body main .information {
  margin: 56px 0;
}
body main .information .infoItem {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #7fbfff;
  color: #4473a5;
  background: #cfe1fb;
}
body main .information .infoItem .date {
  font-size: 8px;
}
body main .information .infoItem .text {
  font-size: 12px;
}

footer {
  margin-top: auto;
  padding: 24px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #000;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 10px;
}

@media (max-width: 650px) {
  .hidden {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */