* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 
    "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    "MS Pゴシック",
    sans-serif
  ;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
}

header {
  .first_header {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 16px 0 8px;
    .logo {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      img {
        width: 160px;
        margin: 0 auto;
      }
    }
    .cart {
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: 32px;
      a {
        color: #000;
      }
    }
    .hamburger_box {
      .hamburger {
        display : block;
        position: fixed;
        z-index : 3;
        left : 13px;
        top   : 8px;
        width : 24px;
        height: 24px;
        cursor: pointer;
        text-align: center;
        span {
          display : block;
          position: absolute;
          width   : 30px;
          height  : 4px;
          border-radius: 16px;
          background : #555;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition   : 0.3s ease-in-out;
          transition        : 0.3s ease-in-out;
          &:nth-child(1) {
            top: 10px;
          }
          &:nth-child(2) {
            top: 20px;
          }
          &:nth-child(3) {
            top: 30px;
          }
        }
        &.active {
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition     : all 0.3s ease-in-out;
          transition        : all 0.3s ease-in-out;
          -webkit-transition-delay: 0.6s;
          -o-transition-delay     : 0.6s;
          transition-delay        : 0.6s;
          -webkit-transform: rotate(45deg);
          -ms-transform    : rotate(45deg);
          -o-transform     : rotate(45deg);
          transform        : rotate(45deg);
          span {
            &:nth-child(2) {
              width: 0px;
            }
            &:nth-child(1),
            &:nth-child(3){
              -webkit-transition-delay: 0.3s;
              -o-transition-delay: 0.3s;
              transition-delay: 0.3s;
            }
            &:nth-child(1) {
              -webkit-transform: translateY(4px);
              -ms-transform    : translateY(4px);
              -o-transform     : translateY(4px);
              transform        : translateY(4px);
            }
            &:nth-child(3) {
              -webkit-transform: translateY(-16px) rotate(90deg);
              -ms-transform: translateY(-16px) rotate(90deg);
              -o-transform : translateY(-16px) rotate(90deg);
              transform    : translateY(-16px) rotate(90deg);
            }
          }
        }
      }
      nav {
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        &.globalMenuSp {
          position: fixed;
          z-index : 2;
          top  : 0;
          left : 0;
          color: #000;
          background: #fff;
          text-align: center;
          transform: translateX(-100%);
          transition: all .9s;
          width: 100%;
          ul {
            margin: 0 auto 48px;
            padding: 0;
            width: 100%;
            .balloon3-right-btm {
              position: relative;
              top: 24px;
              left: 280px;
              width: 100px;
              height: 100px;
              line-height: 100px;
              border-radius: 50%;
              text-align: center;
              color: #ffffff;
              letter-spacing: 0.2em;
              font-size: 12px;
              padding: 0 4px;
              background-color: #a58eff;
              font-family: Chalkduster;
              transform: rotate(8deg);
              &:before {
              content: '';
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              left: 2px;
              bottom: 2px;
              border-right: 20px solid #a58eff;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              transform: rotate(-45deg);
              }
            }
              
            // .balloon3-right-btm {
            //   position: relative;
            //   display: inline-block;
            //   margin: 1.5em 15px 1.5em 0;
            //   padding: 0 8px;
            //   width: 90px;
            //   height: 90px;
            //   line-height: 90px;
            //   text-align: center;
            //   color: #FFF;
            //   font-size: 16px;
            //   font-weight: bold;
            //   background: #a58eff;
            //   border-radius: 50%;
            //   box-sizing: border-box;
            //   &:before {
            //     content: "";
            //     position: absolute;
            //     bottom: -8px;
            //     right: -8px;
            //     margin-top: -2px;
            //     border: 15px solid transparent;
            //     border-left: 15px solid #a58eff;
            //     z-index: 0;
            //     -webkit-transform: rotate(-45deg);
            //     transform: rotate(-45deg);
            //   }
            // }
            li {
              max-width: 800px;
              list-style-type: none;
              padding: 0;
              margin: 24px auto;
              width: 90%;
              text-align: center;
              font-weight: bold;
              p {
                text-align-last: left;
                border-bottom: 1px dashed #999;
                padding: 8px 0;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 4px;
                font-family: "Hiragino Maru Gothic Pro";
              }
              a {
                display: block;
                color: #000;
                padding: 16px 0;
                margin: 8px 0;
                text-align: right;
                text-decoration :none;
                letter-spacing: 4px;
                border-radius: 8px;
                &:hover{
                  background :#ddd;
                }
              }
            }
            .listItem {
              margin-top: 24px;
              .worry {
                margin-bottom: -64px;
                img {
                  width: 100vw;
                }
              }
              .styleSearch {
                display: flex;
                width: 100%;
                margin: 80px auto 0;
                justify-content: center;
                .searchItem {
                  margin: 0 16px;
                  text-align: center;
                  .icon {
                    display: block;
                    font-size: 40px;
                    a {
                      width: 40px;
                      height: 40px;
                      color: #fff;
                      background: #000;
                      padding: 32px;
                      margin-bottom: 16px;
                      border-radius: 50%;
                    }
                  }
                  .name {
                    height: 40px;
                    padding: 32px 0 0;
                    font-family: "Hiragino Maru Gothic Pro";
                    font-size: 12px;
                    vertical-align: middle;
                  }
                }
              }
              .news {
                margin: 56px auto;
                .information {
                  max-width: 480px;
                  text-align: center;
                  margin: 0 auto;
                  .infoItem {
                    margin: 0 16px 16px;
                    padding: 16px;
                    border-radius: 8px;
                    border: 2px dashed #7fbfff;
                    color: #4473a5;
                    text-align-last: left;
                    background: #cfe1fb;
                    a {
                      text-decoration: none;
                      color: #4473a5;
                    }
                    .date {
                      font-size: 8px;
                    }
                    .text {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            .accordionMenu {
              .border {
                border: dashed 1px lightgray;
              }
              .accordion_title {
                cursor: pointer;
                display: block;
                font-size: 18px;
                position: relative;
                text-align: center; 
                transition: all .4s;
                color: #555;
                &:before {
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  font-family: "Font Awesome 5 Free";
                  content: '\f067';
                  font-size: 24px;
                  color: #000;
                }
              }
              .accordion_inner {
                margin: 0 auto 24px;
                display: none;
                font-weight: bold;
                box-sizing: border-box;
              }
              .open {
                &:before {
                  color: #E4405F;
                  transform: rotate(45deg);
                }
              }
            }
          }
          &.active {
            transform: translateX(0%);
          }
        }
        footer {
          margin-top: auto;
          width: 100%;
          position: relative;
          bottom: 0;
        }
      }
    }
  }
}

.mask {
  position: fixed; /*固定表示*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: #5B718F; /*背景色*/
  // background-color: #bd979f;
  background-color: #000;
  z-index: 9999;
  animation: fadeOut 0.4s forwards;
  animation-delay: 1.8s;
  img {
    position: absolute;
    width: 240px;
    background: #fff;
    border-radius: 48px;
    padding: 16px 32px;
    // height: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: rotation 2s forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes rotation {
    20%{
      transform: scale(1.1);
    }
    40%{
      transform: scale(0.9);
    }
    80%{
      transform: scale(0.9);
    }
    100%{
      transform: scale(24);
    }
  }
}

body {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 62px;
  overflow-x: hidden !important;
  main {
    .slideShow {
      .wrapper {
        max-width: 100vw;
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 600px;
        .next,
        .prev {
          width: 40px;
          height: 48px;
          position: absolute;
          bottom: 50%;
          transition: all 0.3s;
          z-index: 10;
          cursor: pointer;
          font-size: 24px;
          text-align: center;
          i {
            padding: 8px;
            background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 8px;
            color: #fff;
            &:hover {
              transition: all 0.4s;
              background-color: rgba($color: #000000, $alpha: 1);
            }
          }
        }
        .next {
          right: 8px;
        }
        .prev {
          left: 8px;
        }
        .slider {
          width: 400vw;
          display: flex;
          margin: 0 auto;
        }
        @for $i from 1 through 4 {
          .slider#{$i} {
            transition: transform 1s;
          }
        }
        .slider1 {
          transform: translateX(0);
        }
        .slider2 {
          transform: translateX(-100vw);
        }
        .slider3 {
          transform: translateX(-200vw);
        }
        .slider4 {
          transform: translateX(-300vw);
        }
        .content {
          width: 100%;
          max-width: 100vw;
          height: 600px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100vw;
            height: 100%;
            object-fit: fill;
          }
        }
        .indicator {
          width: 100%;
          position: absolute;
          bottom: 10px;
          display: flex;
          z-index: 10;
          justify-content: center;
          align-items: center;
          li {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: relative;
            list-style: none;
            border: 1px #000 solid;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
          }
        }
        #list1 {
          background-color: #000;
        }
      }
    }
    .search {
      .search_header {
        position: relative;
        background: #eee;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #555;
          li {
            list-style: none;
            padding: 16px 24px;
            a {
              color: #555;
              font-size: 16px;
            }
            &:hover {
              color: #fff;
              background: #222;
              a {
                color: #fff;
              }
            }
          }
        }
      }
      .letszootie {
        margin: 24px 0 -24px;
        font-size: 24px;
        font-family: Chalkduster;
        transform: rotate(-4deg);
      }
    }
    .styling {
      max-width: 100vw;
      height: 800px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      background: #bd979f;
      .scene {
        width: 100%;
        position: relative;
        height: 83%;
        background: #daacae;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        perspective: 500px;
      }
      .item {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left top;
        pointer-events: none;
      }
      #plant {
        background-image: url(https://ouch-cdn2.icons8.com/CZaKIJ63jjlgvDcdjcjUnlfpffRScIiXzi4HMrpLAsM/rs:fit:728:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNjM2/L2RkMzRmMzVhLWVk/YmMtNDRlZi1hOGNm/LTZlZjJlMTBlMzU2/My5wbmc.png);
        width: 500px;
        height: 620px;
        bottom: -26px;
        margin-right: 400px;
      }
      #plant-2 {
        background-image: url(https://ouch-cdn2.icons8.com/E47kcuNp_3-4IrDybcMwr6zMELcbhBQLKzImj-ot8E4/rs:fit:855:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMzE5/LzljNjEwNjJhLTk4/YmMtNDViMS1iZGVm/LTMwNzVjMTMxYjQ1/OC5wbmc.png);
        width: 300px;
        height: 320px;
        bottom: -50px;
        margin-right: 300px;
      }
      #plant-3 {
        background-image: url(https://ouch-cdn2.icons8.com/oo4nsgAN74wL_FDHCUIwOdB3rPN6SGavRjxiz-1ds4s/rs:fit:1201:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTk0/LzVlMGQ1NjhlLWNh/NTEtNGJlNC1iNWEz/LTQyYTcwNDlmZGMy/My5wbmc.png);
        width: 160px;
        height: 125px;
        bottom: -50px;
        margin-left: 380px;
      }
      #books {
        background-image: url(https://ouch-cdn2.icons8.com/AUAdQ5eK8APXniP0hwVusHWtZRMk9FA2Jm9FSza1StY/rs:fit:850:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNy9j/NTcxMWIzNC1mMTYy/LTQ3MTAtOGExYi1l/YzY1M2FlN2IwYWYu/cG5n.png);
        width: 200px;
        height: 220px;
        bottom: -40px;
        margin-left: 620px;
      }
      #apple {
        background-image: url(https://ouch-cdn2.icons8.com/-O2SifADepTOg7bXJ5whR6wB0iMfq5y7vrIaJdmKp20/rs:fit:851:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvODYy/L2M3MjBkM2Q3LWMw/NTgtNDJkOC04ZGEw/LTc2MTM1N2YwMmNh/OC5wbmc.png);
        width: 64px;
        height: 70px;
        top: -64px;
        left: 30px;
      }
      #clock {
        background-image: url(https://ouch-cdn2.icons8.com/ggxsAQVGAa4GMIlNl6vMuk0ANcEK07E5woeRpplKofI/rs:fit:945:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMzI0/L2RmMDQzMzc4LTcy/NTUtNDA5My04ZDQy/LTgxOTJjNmE2ZmQx/ZC5wbmc.png);
        width: 170px;
        height: 170px;
        background-size: 100% auto;
        background-position: left top;
        bottom: 520px;
        margin-left: 440px;
      }
      #mirror {
        width: 280px;
        height: 580px;
        position: relative;
        box-shadow: 16px 2px 10px rgba(0, 0, 0, 0.4);
        perspective: 500px;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        transform-origin: top center;
        transform: rotateX(3deg);
        cursor: pointer;
      }
      #mirror-content {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(https://thumbnail.image.rakuten.co.jp/@0_mall/e-zakkamania/cabinet/coordinate/2211/22110801.jpg?_ex=500x500&s=2&r=1);
        background-position: center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        box-shadow: inset 6px 3px 10px rgba(0, 0, 0, 0.4);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border: 6px solid #e7e4df;
        z-index: 0;
        display: flex;
        justify-content: center;
        &:after {
          position: absolute;
          content: "click me";
          font-family: sans-serif;
          text-transform: uppercase;
          color: #e7e4df;
          font-weight: bold;
          letter-spacing: 4px;
          font-size: 10px;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          text-align: center;
          top: -32px;
          z-index: 100;
          // opacity: 0.6;
          transition: all 0.5s ease;
          padding: 16px;
          background: #000;
          border-radius: 32px;
        }
      }
    }
    .stylingMore {
      position: relative;
      top: 760px;
      text-align: center;
      z-index: 1;
      a {
        text-decoration: none;
        color: #eee;
        background: #444;
        padding: 16px 24px;
        border-radius: 8px;
      }
    }
    .shops {
      text-align: center;
      .shop {
        max-width: 100%;
        padding: 0 16px;
        display: flex;
        margin: 0 auto 32px;
        .describe {
          text-align: left;
          padding: 0 16px;
          font-size: 3vmin;
          line-height: 2;
          .name {
            font-weight: bold;
            // font-size: 4vmin;
          }
        }
      }
      .border {
        width: 80%;
        border: 1px solid #000;
        border-radius: 32px;
        margin: 0 auto 32px;
      }
      img {
        width: 30%;
      }
    }
  } 
  .sponsor {
    padding: 0 0 32px;
    text-align: center;
    img {
      max-width: 320px;
      width: 60%;
    }
  }
  .contents {
    margin: 0 auto;
    text-align: center;
    .contentsItem {
      min-height: 240px;
    }
    .ranking {
      min-height: 600px;
    }
    .newItem {
      background: #bd979f;
      .newItem_container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 32px;
        .newItems {
          display: flex;
          text-align: center;
          justify-content: center;
          .itemSet {
            width: 50%;
            max-width: 480px;
            border: 2px solid #bbb;
            border-radius: 8px;
            text-align: left;
            margin: 8px;
            justify-content: center;
            img {
              width: 100%;
              height: auto;
              border-radius: 4px 4px 0 0;
            }
            .discribe {
              padding: 8px;
              .date {
                font-size: 12px;
                color: #333;
              }
              .itemName {
                overflow-wrap: wrap;
                font-size: 14px;
              }
              .price {
                text-align: right;
                font-size: 24px;
                font-weight: bold;
                padding-top: 8px;
                &::after {
                  font-size: 16px;
                  content: ' 円';
                }
              }
            }
          }
        }
      }
    }
    .more {
      width: fit-content;
      background: #555;
      margin: 16px auto 0;
      padding: 16px;
      border-radius: 8px;
      a {
        text-decoration: none;
        color: #eee;
      }
    }
  }
  .title {
    color: #555;
    letter-spacing: 4px;
    padding: 32px 0;
    p:first-child {
      font-size: 20px;
    }
    p:nth-child(3) {
      width: 80px;
      margin: 8px auto;
      border: 1px solid #000;
      border-radius: 16px;
    }
  }
  .contentLast {
    padding: 600px 0 16px;
  }
}

.search_bar {
  text-align: center;
  padding: 48px 0;
  font-size: 16px;
  .search_container {
    box-sizing: border-box;
    input,
    button {
      border: 2px solid #222;
      outline: 0;
      font-size: 16px;
      vertical-align: middle;
    }
    input {
      width: 50%;
      max-width: 320px;
      background: #eee;
      border-right: none;
      border-radius: 32px 0 0 32px;
      padding: 12px 24px;
    }
    button {
      border-left: none;
      border-radius: 0 32px 32px 0;
      color: #000;
      background: #eee;
      margin-left: -6px;
      padding: 6px 24px;
      transition: all 0.3s;
      font-size: 24px;
      &:hover {
        cursor: pointer;
        i {
          transform: ro;
        }
      }
    }
  }
}

footer {
  margin-top: auto;
  padding: 24px 0;
  height: fit-content;
  background: #000;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 9px;
  a {
    font-size: 9px;
    text-decoration: none;
    color: #fff;
  }
}

@media (max-width: 650px) {
  .hidden {
    display: none;
  }
  footer {
    font-size: 8px;
    a {
      font-size: 8px;
    }
  }
}